* {
  font-family: "Montserrat";
}
body {
  color: #fcfcfc;
  box-sizing: border-box;
  font-size: 16px;
}
/*-------------------------------------
      Importação da fonte
  */

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
  font-weight: 700;
}

/*-----------------------------------------------------------------
    Estilo base
*/

.row {
  margin: 0;
  padding: 0;
}

.separete {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

@media (min-width: 1px) and (max-width: 762px) {
}

@media (min-width: 763px) and (max-width: 1023px) {
}

@media (min-width: 1024px) {
}

/*-------------------------------------
      Estilo dos elementos
  */

/*------------------------
    Header
*/

header.header {
  background-color: #252525;
}
/*------------------------
    Home
*/

div.home {
  min-height: 100vh;
  background-image: url(../images/Frame9.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
div.home > div.row {
  min-height: 100vh;
}
div.home > div > div > h1 {
  color: #fcfcfc;
}

div.home > div > div > a.white {
  transition: 0.3s;
  border-color: #555;
  background-color: #fcfcfc;
  width: 16rem;
  padding: 1rem;
  color: #555;
}
div.home > div > div > a.white:hover,
div.home > div > div > a.white:active {
  transition: 0.4s;
  border-color: #fcfcfc;
  background-color: transparent;
  width: 15rem;
  padding: 1rem;
  color: #fcfcfc;
}
div.home > div > div > a.black {
  transition: 0.3s;
  border-color: #555;
  background-color: transparent;
  width: 14rem;
  padding: 1rem;
  margin-top: 1rem;
  color: #555;
}

div.home > div > div > a.black:hover,
div.home > div > div > a.black:active {
  transition: 0.3s;
  border-color: #fcfcfc;
  background-color: #fcfcfc;
  width: 16rem;
  padding: 1rem;
  margin-top: 1rem;
}

/*------------------------
    Portfólio
*/

div.portfolio {
  min-height: 100vh;
  background-image: url(../images/Frame.png);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}
div.portfolio > div > div.row {
  min-height: 100vh;
}
div.portfolio > div > div > div > h1 {
  color: #fcfcfc;
}
div.portfolio > div > div > div > p {
}
div.portfolio > div > div > div > img {
}

/*------------------------
    World
*/

div.world {
  min-height: 100vh;
  background-image: url(../images/Frame.png);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}
div.world > div.row {
  min-height: 100vh;
}
div.world > div > div > p {
}
div.world > div > div > img {
}

/*------------------------
    Sobre
*/

div.sobre {
  min-height: 100vh;
  background-image: url(../images/Frame3.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
div.sobre > div.row {
  min-height: 100vh;
}
div.sobre > div > div > p {
}

/*------------------------
    Orçamento
*/

div.orcamento {
  min-height: 100vh;
  background-image: url(../images/Frame.png);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}
div.orcamento > div > div.row {
  min-height: 100vh;
}
div.orcamento > div > div > div > p {
}

/*------------------------
      Formulário
*/

div.form {
  min-height: 100vh;
  background-color: #252525;
  background-image: url(../images/Frame.png);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}
div.form > div > div > a:active,
div.form > div > div > a {
  text-decoration: none;
  color: #f1f1f1;
}
div.form > div > div > a:hover {
  color: #666;
}

div.form > div > div > div {
}
div.form > div > div > div > div {
}
div.form > div > div > div > div > ul {
}
div.form > div > div > div > div > ul > li {
  color: #fcfcfc;
}
div.form > div > div > div > div > form {
}
div.form > div > div > div > div > form > div {
}
div.form > div > div > div > div > form > div > input {
  background-color: transparent !important;
  color: #fcfcfc !important;
  box-shadow: none !important;
  border: none;
  border-bottom: 2px solid #fcfcfc;
}
div.form > div > div > div > div > form > div > textarea {
  background-color: transparent !important;
  color: #fcfcfc !important;
  box-shadow: none !important;
  border: none;
  border-bottom: 2px solid #fcfcfc;
}
div.form > div > div > div > div > form > div > input:active {
  border: none;
  box-shadow: none;
}
div.form > div > div > div > div > form > div > textarea:active {
  border: none;
  box-shadow: none;
}
div.form > div > div > div > div > form > div > label {
  color: #fcfcfc;
}
div.form > div > div > div > div > form > button {
  border: 2px solid #fcfcfc;
  background-color: transparent;
}

div.form > div > div > div > div > form > button:hover, div.form > div > div > div > div > form > button:active {
  border: 2px solid #555;
  background-color: #555;
}


/*------------------------
      Formulário
*/

footer {
  background-color: #555;
}